<div class="card">
    <div class="card-body text-center">
        <a href="/product/create" class="btn btn-primary">
            Add Product
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        Totol Product :<%- model.totalDocs %>
        <table data-toggle="table" data-pagination="true" data-search="true">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-sortable="true">Product Name</th>
                    <th data-sortable="true">Category</th>
                    <th data-sortable="true">SubCategory</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 1;
                    model.docs.forEach(data => { %>
                <tr>
                    <td><%- i %></td>
                    <td><%- data.name %></td>
                    <td><%- data.category.name %></td>
                    <td><%- data.subcategory.name %></td>
                    <td>
                        <span class="badge badge-<%= data.status ? 'success':'warning' %>">
                            <%= data.status? 'Active':'InActive' %>
                        </span>
                    </td>
                    <td><%- dateFormat(data.createdAt) %></td>
                    <td>
                        <a href="/category/edit/<%- data._id %>">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="/category/view/<%- data._id %>">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
                <% i++ }); %>
            </tbody>
        </table>
        <% if (model. totalPages > 0) { %>
        <nav class="pull-right">
            <ul class="pagination">
                <% if (model.hasPrevPage) { %>
                <li class="page-item">
                    <a href="/product/<%= model.prevPage %>" class="page-link">Previous</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <% } %>
                <% var j = (Number(model.page) > 5 ? Number(model.page) - 4 : 1) %>
                <% if (j !== 1) { %>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <% } %>
                <% for (; j <= (Number(model.page) + 4) && j <= model.totalPages; j++) { %>
                    <% if (j == model.page) { %>
                        <li class="page-item active">
                            <span class="page-link">
                                <%= j %>
                                <span class="sr-only"></span>
                            </span>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/product/<%= j %>"><%= j %></a>
                        </li>
                    <% } %>
                    <% if (j == Number(model.page) + 4 && j < model.totalPages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                
                <% if (model.hasNextPage) { %>
                <li class="page-item">
                    <a href="/product/<%= model.nextPage %>" class="page-link">Next</a>
                </li>
                <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                <% } %>
            </ul>
        </nav>
        <% } %>
    </div>
</div>